<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>{{ title }}</title>

        <link rel="stylesheet" href="/assets/main.css"/>
        <script src="/assets/bundle.js"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <span class="navbar-brand">SelfCoders</span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="{{ html_classes("nav-item", {"active": isActivePage("/")}) }}"><a class="nav-link" href="/">Home</a></li>
                        {% for category in projects.getTypes() %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ category[1] }}</a>
                                <div class="dropdown-menu">
                                    {% for project in projects.ofType(category[0]) %}
                                        <a class="{{ html_classes("dropdown-item", {"active": isActivePage("/projects/" ~ project.name )}) }}" href="/projects/{{ project.name }}">{{ project.title }}</a>
                                    {% endfor %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/projects#{{ category[0] }}">Show all</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="social-icon" href="https://github.com/Programie" target="_blank" title="GitHub" data-toggle="tooltip"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://gitlab.com/Programie" target="_blank" title="GitLab" data-toggle="tooltip"><i class="fab fa-gitlab"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://www.last.fm/user/Programie" target="_blank" title="Last.fm" data-toggle="tooltip"><i class="fab fa-lastfm"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://www.reddit.com/user/Programie" target="_blank" title="Reddit" data-toggle="tooltip"><i class="fab fa-reddit"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://steamcommunity.com/id/programiex" target="_blank" title="Steam" data-toggle="tooltip"><i class="fab fa-steam-symbol"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://t.me/Programie" target="_blank" title="Telegram" data-toggle="tooltip"><i class="fab fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://twitter.com/Programie" target="_blank" title="Twitter" data-toggle="tooltip"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="https://www.youtube.com/channel/UCwRoDwSWCHlNG9lp2YOFg8w" target="_blank" title="YouTube" data-toggle="tooltip"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <p><a href="#">Back to top</a></p>
                    <span class="small">&copy; SelfCoders {{ currentYear }}</span>
                </div>
            </div>
        </footer>
    </body>
</html>