<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <title>{% block title %}{% endblock %} - SelfCoders</title>

        <link rel="stylesheet" href="{{ asset("main.css") }}"/>
        <script src="{{ asset("main.js") }}"></script>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top">
                <div class="container">
                    <div class="mx-md-auto">
                        <div class="{{ html_classes("navbar-item", {"active": isActivePage("/")}) }}"><a class="navbar-brand" href="/">SelfCoders</a></div>

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="navbar-nav">
                                {% for category in projects.getTypes() %}
                                    <li class="{{ html_classes("navbar-item nav-item dropdown", {"active": isActiveProjectCategory(category[0])}) }}">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ category[1] }}</a>
                                        <div class="dropdown-menu">
                                            {% for project in projects.ofType(category[0]) %}
                                                <a class="{{ html_classes("dropdown-item", {"active": isActivePage("/projects/" ~ project.name )}) }}" href="/projects/{{ project.name }}">{{ project.title }}</a>
                                            {% endfor %}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/projects#{{ category[0] }}">Show all</a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="center">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a class="social-icon social-icon-github" href="https://github.com/Programie" target="_blank" title="GitHub" data-toggle="tooltip"><i class="fab fa-github"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-gitlab" href="https://gitlab.com/Programie" target="_blank" title="GitLab" data-toggle="tooltip"><i class="fab fa-gitlab"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-lastfm" href="https://www.last.fm/user/Programie" target="_blank" title="Last.fm" data-toggle="tooltip"><i class="fab fa-lastfm"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-reddit" href="https://www.reddit.com/user/Programie" target="_blank" title="Reddit" data-toggle="tooltip"><i class="fab fa-reddit"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-steam" href="https://steamcommunity.com/id/programiex" target="_blank" title="Steam" data-toggle="tooltip"><i class="fab fa-steam-symbol"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-telegram" href="https://t.me/Programie" target="_blank" title="Telegram" data-toggle="tooltip"><i class="fab fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-twitter" href="https://twitter.com/Programie" target="_blank" title="Twitter" data-toggle="tooltip"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon social-icon-youtube" href="https://www.youtube.com/channel/UCwRoDwSWCHlNG9lp2YOFg8w" target="_blank" title="YouTube" data-toggle="tooltip"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    <p><a href="/imprint">Legal disclosure</a></p>
                    <p><a href="#">Back to top</a></p>
                    <span class="small">&copy; SelfCoders {{ currentYear }}</span>
                </div>
            </div>
        </footer>
    </body>
</html>