{% extends "page.twig" %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="container">
        {% for category in projects.getTypes() %}
            <a id="{{ category[0] }}"></a>
            <h3>{{ category[1] }}</h3>
            {% for project in projects.ofType(category[0]) %}
                <div class="card mb-4">
                    <div class="card-img-top project-list-image" style="background-image: url({{ project.getCoverImage() }})"></div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="/projects/{{ project.name }}">{{ project.title }}</a></h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="https://gitlab.com/Programie/{{ project.repoName }}"><i class="fab fa-gitlab"></i> View on GitLab</a>
                        {% if project.downloads.count() %}
                            <div class="dropdown d-inline ml-2">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-download"></i> Download</a>
                                <div class="dropdown-menu">
                                    {% for download in project.downloads %}
                                        <a class="dropdown-item" href="{{ download.url }}" target="_blank">{{ download.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if project.lastUpdate %}
                        <div class="card-footer">
                            <small class="text-muted">Last release: {{ project.lastUpdate.format("D, d M Y") }}</small>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}