<div class="card mb-4">
    <div class="card-img-top project-list-image" style="background-image: url({{ project.getCoverImage() }})"></div>
    <div class="card-body">
        <h5 class="card-title"><a href="/projects/{{ project.name }}">{{ project.title }}</a></h5>
        <p class="card-text">{{ project.description }}</p>
        {% if project.latestDownload %}
            <a class="btn btn-primary" href="{{ project.latestDownload.url }}" target="_blank"><i class="fas fa-download"></i> Download</a>
        {% endif %}
        <a href="https://github.com/Programie/{{ project.repoName }}"><i class="fab fa-github"></i> View on GitHub</a>
        {% if project.extName %}
            {% if project.category == "minecraft-plugins" %}
                <a class="ms-2" href="https://modrinth.com/plugin/{{ project.extName }}" target="_blank">View on Modrinth</a>
            {% elseif project.category == "php-libraries" %}
                <a class="ms-2" href="https://packagist.org/packages/programie/{{ project.extName }}" target="_blank">View on Packagist</a>
            {% endif %}
        {% endif %}
    </div>
    {% if project.lastUpdate %}
        <div class="card-footer">
            <small class="text-muted">Last release: {{ project.lastUpdate.format("D, d M Y") }}</small>
        </div>
    {% endif %}
</div>